body {
    max-width: 850px;
    margin: 0 auto;
    background-color: #ffa9a947;
}

.header .header-nav .header-nav___items .header-nav___item {
    font-size: 2.5rem;
    margin: 20px;
}

main {
    flex-direction: unset;
}

.side-bar, .main-content {
    display: unset;
}